<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit/-/raw/3a6ae2b25de83d1417c7f2f4e9c15a76a7d66812/terminologies/ValueSet-elga-specimentype/CodeSystem-zuppl-hl7-specimen-type-4-elga-specimentype.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit/-/raw/3a6ae2b25de83d1417c7f2f4e9c15a76a7d66812/terminologies/ValueSet-elga-specimentype/CodeSystem-zuppl-hl7-specimen-type-4-elga-specimentype.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>