<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit/-/raw/4646d0798389c233101d89f0b9090e9e5837ed37/terminologies/ValueSet-elga-laborparameter/CodeSystem-zuppl-elga-laborparameterergaenzun-4-elga-laborparameter.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit/-/raw/4646d0798389c233101d89f0b9090e9e5837ed37/terminologies/ValueSet-elga-laborparameter/CodeSystem-zuppl-elga-laborparameterergaenzun-4-elga-laborparameter.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>