<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220518-161251-CodeSystem-ch-ehealth-codesystem-role.html">2022-05-18 16:12:51</a></td><td><a onclick="createDiff('CodeSystem-ch-ehealth-codesystem-role.html', '20220518-161251-CodeSystem-ch-ehealth-codesystem-role.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>