<table class="grid">
<tr><td><a href="https://gitlab.com/elga-gmbh/termgit/-/raw/bfbbe1550dffe29681dec14898a8eacfa301a2c5/terminologies/ValueSet-elga-personalrelationship/CodeSystem-zuppl-hl7-role-code-4-elga-personalrelationship.4.fhir.json?inline=false">download FHIR R4 json</a></td><td><a target="_blank" rel="noopener noreferrer" href="https://gitlab.com/elga-gmbh/termgit/-/raw/bfbbe1550dffe29681dec14898a8eacfa301a2c5/terminologies/ValueSet-elga-personalrelationship/CodeSystem-zuppl-hl7-role-code-4-elga-personalrelationship.4.fhir.json">raw FHIR R4 json (from GitLab)</a></td></tr>
</table>