<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220301-165055-CodeSystem-zuppl-loinc-4-elga-dokumentenklassen.html">2022-03-01 16:50:55</a></td><td><a onclick="createDiff('CodeSystem-zuppl-loinc-4-elga-dokumentenklassen.html', '20220301-165055-CodeSystem-zuppl-loinc-4-elga-dokumentenklassen.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>