<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220202-122156-ValueSet-dgc-medicinalproduct.html">2022-02-02 12:21:56</a></td><td><a onclick="createDiff('ValueSet-dgc-medicinalproduct.html', '20220202-122156-ValueSet-dgc-medicinalproduct.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220202-142407-ValueSet-dgc-medicinalproduct.html">2022-02-02 14:24:07</a></td><td><a onclick="createDiff('ValueSet-dgc-medicinalproduct.html', '20220202-142407-ValueSet-dgc-medicinalproduct.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220311-082001-ValueSet-dgc-medicinalproduct.html">2022-03-11 08:20:01</a></td><td><a onclick="createDiff('ValueSet-dgc-medicinalproduct.html', '20220311-082001-ValueSet-dgc-medicinalproduct.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220420-164001-ValueSet-dgc-medicinalproduct.html">2022-04-20 16:40:01</a></td><td><a onclick="createDiff('ValueSet-dgc-medicinalproduct.html', '20220420-164001-ValueSet-dgc-medicinalproduct.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220510-124828-ValueSet-dgc-medicinalproduct.html">2022-05-10 12:48:28</a></td><td><a onclick="createDiff('ValueSet-dgc-medicinalproduct.html', '20220510-124828-ValueSet-dgc-medicinalproduct.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>