<table class="grid">
<tr><td><b>Publication Date</b></td><td><b>Current Version vs. Outdated Version</b></td></tr>
<tr><td><a href="20220202-122156-ValueSet-elga-formatcode.html">2022-02-02 12:21:56</a></td><td><a onclick="createDiff('ValueSet-elga-formatcode.html', '20220202-122156-ValueSet-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220202-200841-ValueSet-elga-formatcode.html">2022-02-02 20:08:41</a></td><td><a onclick="createDiff('ValueSet-elga-formatcode.html', '20220202-200841-ValueSet-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220211-073707-ValueSet-elga-formatcode.html">2022-02-11 07:37:07</a></td><td><a onclick="createDiff('ValueSet-elga-formatcode.html', '20220211-073707-ValueSet-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220214-120348-ValueSet-elga-formatcode.html">2022-02-14 12:03:48</a></td><td><a onclick="createDiff('ValueSet-elga-formatcode.html', '20220214-120348-ValueSet-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220311-082001-ValueSet-elga-formatcode.html">2022-03-11 08:20:01</a></td><td><a onclick="createDiff('ValueSet-elga-formatcode.html', '20220311-082001-ValueSet-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220420-164001-ValueSet-elga-formatcode.html">2022-04-20 16:40:01</a></td><td><a onclick="createDiff('ValueSet-elga-formatcode.html', '20220420-164001-ValueSet-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220510-124828-ValueSet-elga-formatcode.html">2022-05-10 12:48:28</a></td><td><a onclick="createDiff('ValueSet-elga-formatcode.html', '20220510-124828-ValueSet-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>
<tr><td><a href="20220516-123916-ValueSet-elga-formatcode.html">2022-05-16 12:39:16</a></td><td><a onclick="createDiff('ValueSet-elga-formatcode.html', '20220516-123916-ValueSet-elga-formatcode.html')" href="javascript:void(0);">Diff</a></td></tr>
</table>